/* General Styles */
body {
    font-family : 'Poppins',sans-serif;
    background-color: #382791;
    color: #333;
    margin: 0;
    padding: 0;
  }


  
  /* Navbar Styles */
  .navbar {
    margin-bottom: 20px;
  }
  
  .navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .navbar-dark .navbar-nav .nav-link {
    font-size: 1.1rem;
  }
  
  /* Container Styles */
  .container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 40px;
  }
  
  /* Form Styles */
  .form-group label {
    font-weight: bold;
    color: #555;
  }
  
  .form-control {
    border: 2px solid #ddd;
    border-radius: 15px;
  }
  
  .form-control:focus {
    border-color: #007bff;
    box-shadow: none;
  }
  
  .form-text {
    color: #777;
  }
  
 /* styles for all the buttons */
  .btn-primary {
    margin-top: 20px;
    background-color: #007bff;
    border: none;
    border-radius: 10px;
    transition: 0.5s;
    margin-bottom: 20px;
  }
  
  .btn-primary:hover {
    background-color:var(--clr);
    letter-spacing: 0.02cm;
    font-size: 15px;
    box-shadow:  0 0 15px var(--clr);
  }
  
  .btn-clear{
    background-color: rgb(175, 120, 53);
    color: #fff;
  }

  .btn-clear:hover{
    background-color: rgb(250, 125, 70);

  }

  .btn-deleting{
    background-color: darkseagreen;
    border-radius: 10px;
  }

  .btn-deleting:hover {
    background-color: #217737;
    color: #fff;
  }
  
  .btn-editing{
    background-color: #8ada94;
    border-radius: 10px;
  }

  .btn-editing:hover{
    background-color: #7bba84;
  }


  /* Table Styles */
  .table {
    margin-top: 20px;
  }
  
  .table thead {
    background-color: #b7f25f;
    color: #473939;
  }
  
  .table tbody tr:hover {
    background-color: #f1f1f1;
  }
  
  /* Custom Header Styles */
  .text-center {
    margin-bottom: 20px;
  }
  
  .text-center h2 {
    font-weight: bold;
    color: #333;
  }
  
  /* Miscellaneous Styles */
  .d-flex {
    margin-top: 20px;
  }
   
  .d-flex .btn {
    margin-left: 10px;
  }
